/* 全体 */
*{
    box-sizing: border-box;
}

body{
    font-family: ヒラギノ角ゴ;
    font-size: 16px;
    color: #454545
}

.wrapper{
    width: 1080px;
    margin: 0 auto;
}

@media(max-width:768px){
    .wrapper{
        width: 100%;
        /* padding: 0 5%; */
    }
}


/* ヘッダー */
header{
    padding-top: 36px;
}

.menu-trigger{
    display: none;
}

.header-img{
    width: 208px;
}

@media(max-width:768px){
    header {
        /* ヘッダーの横部分に余白をつけ、横幅を定義する */
        width: 100%;
        padding: 20px 16px;
        /* ヘッダーの要素を等間隔で配置する */
        display: flex;
        justify-content: space-between;
        /* 全てをブロック要素にし、隣に回り込ませる */
        position: fixed;
        /* 下の要素を伸ばしてしまい上に隙間が空くので、隙間を消す */
        top: 0;
        left: 0;
        z-index: 2;
        /* ヘッダー部分が透明なので背景をつける */
        background-color: #fff;
    }
    h1{
        /* display: inline; */
    }
    .header-img{
        width: 187px;
    }
    .menu-trigger{
        /* display: inline; */
        /* text-align: right; */
        display: block;
        
    }
}


/* トップの画像 */
.main-visual{
    margin-top: 36px;
    position: relative;
}

.copy{
    position: absolute;
    top: 52px;
    right: 100px;
    width: 242px;
}

@media(max-width:768px){
    /*  下の要素のマージンでヘッダーを見えるようにする */
    .main-visual{
        margin: 74px 0 0;
    }
    .main-visual-img{
        width: 100%;
        padding: 0;
    }
    .copy{
        top: 26px;
        right: 15px;
        width: 120px;
    }
}


/* ナビゲーション */
.global-nav{
    margin-top: 40px;
}

.global-nav-list{
    display: flex;
    justify-content: space-between;
}

.global-nav-item{
    border-left: solid 2px #575757;
    width: 180px;
    height: 25px;
}

.global-nav-item:last-child{
    border-right: solid 2px #575757;
}

/* 「リストの１番目の中のaタグだけ」
（aタグに書くと、
「全リストの中のaタグの中の１番目」
という意味になってしまう */
.global-nav-item:first-child a{
    color: #9aaf24;
}

.global-nav-link{
    text-decoration: none;
    color: #454545;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    display: block;
    text-align: center;
    line-height: 25px;
    transition: all .3s ease-in;
}

.global-nav-link:hover{
    background-color: #fafafa;
    color: #9aaf24;
}

@media(max-width:768px){
    .global-nav{
        display: none;
    }
    /* ハンバーガーを開いた時に出てくる部分 */
    .global-nav-list{
        width: 100%;
        position: fixed;
        height: 100vh;
        background-color: rgba(255, 255, 255, .95);
        z-index: 1;
    }
}


/* ニュース */
.news{
    margin-top: 56px;
    border: solid 1px #eee;
    background-color: #fafafa;
}

.news-area{
    margin-top: 62px;
}

.contents-title-box{
    text-align: center;
}

/* ニュースのタイトルをdivで囲わなくても、
背景に画像を敷くことにすればOK */
.contents-title{
    display: inline-block;
    background: url(../img/titlebar.png) no-repeat;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 24px;
    padding-top: 12px;
}

.news-list{
    width: 710px;
    padding: 40px 0 80px 0;
    margin: 0 auto;
}

.news-item{
    display: flex;
}

.news-item:last-child a{
    line-height: 1.8;
}

.news-day{
    display: block;
    width: 130px;
    font-size: 14px;
    color: #fff;
    background-color: #333;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-align: center;
    line-height: 28px;
    margin-bottom: 24px;
}

.news-link{
    width: 580px;
    color: #454545;
    padding-left: 40px;
}

@media(max-width:768px){
    .news{
        margin: 56px 11px 0 11px;
    }
    .news-list{
        width: 100%;
        padding: 30px 25px 0 25px;
        margin: 0 0 35px 0;
    }
    .news-item{
        display: block;
    }
    .news-day{
        margin: 0;
    }
    .news-link{
        display: block;
        width: 100%;
        padding: 12px 0 20px 0 ;
        line-height: 1.5;
    }
}


/* FEATURES */
.feat{
    margin-top: 124px;
}

.feat-box{
    margin-top: 70px;
    display: flex;
    align-items: flex-start;
}

.feat-visual{
    width: 360px;
}

.feat-text{
    width: 660px;
    margin-left: 56px;
}

.feat-title{
    font-size:24px;
    font-weight: 600;
}

.feat-description1{
    margin-top: 42px;
    line-height: 1.6;
    padding-bottom: 25px;
}

.feat-description2{
    line-height: 1.6;
    padding-bottom: 25px;
}

@media(max-width:768px){
    .feat{
        margin-top: 43px;
    }
    .feat-box{
        margin-top: 44px;
        display: block;
    }
    .feat-visual{
        width: 100%;
        padding: 0 28px;
    }
    .feat-text{
        width: 100%;
        padding: 0 28px;
        margin: 0
    }
    .feat-title{
        margin-top: 30px;
        font-weight: 100;
        line-height: 1.75;
    }
    .feat-description1{
        margin-top: 48px;
        padding: 0;
        line-height: 1.75;
    }
    .feat-description2{
        margin-top: 32px;
        padding: 0;
        line-height: 1.75;
    }
}


/* SUBSCRIPTION */
.sub{
    margin-top: 124px;
}

.sub-title{
    width: 718px;
    padding-top: 49px;
    margin: 0 auto;
    line-height: 1.75;
}

.sub-contents{
    display: flex;
    justify-content: space-between;
    margin-top: 61px;
}

.sub-link{
    display: block;
    text-decoration: none;
    color: #454545;
}

/* トランジションの時間はホバーじゃなくてこっちに書く */
.sub-card{
    border: solid 4px #c9e23f;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, .2);
    transition: all 0.3s ease-in;
}

/* ホバー時の動き（トランスフォーム） */
.sub-card:hover{
    transform: translateY(-5px);
    box-shadow: 0px 6px 20px rgba(0, 0, 0, .25);
}

/* ホバーと同時にボタンに色をつける */
.sub-link:hover .sub-btn{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(201,226,63,1) 0%, rgba(71,227,220,1) 100%);
}

.sub-text{
    text-align: center;
}

.sub-visual{
    width: 336px;
}

.sub-cardtitle{
    margin-top: 34px;
    font-size: 22px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.sub-price{
    margin-top: 24px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 40px;
}

.price-unit{
    font-size: 32px;
    font-weight: 500;
    padding: 12px;
}

.sub-description{
    margin-top: 38px;
    font-size: 14px;
    margin-bottom: 23px;
}

.sub-btn{
    width: 296px;
    margin: 0 auto;
    background-color: #eee;
    font-size: 14px;
    font-weight: bold;
    line-height: 50px;
    margin-bottom: 20px;
}

@media(max-width:768px){
    .sub{
        margin-top: 109px;
    }
    /* ここを他にも活かす */
    .sub-title{
        width: 100%;
        padding: 0 27px;
        margin-top: 18px;
    }
    .sub-contents{
        display: block;
        margin: 40px 10px 0;
    }
    .sub-visual{
        width: 100%;
    }
    .sub-card{
        margin-bottom: 24px;
    }
    .sub-cardtitle{
        margin-top: 24px;
    }
    .sub-price{
        margin-top: 19px;
    }
    .sub-description{
        font-size: 16px;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .sub-btn{
        width: 93%;
        font-size: 16px;
        font-weight: 100;
        margin: 0 12px 12px 12px;
    }
}


/* ITEMS */
.items{
    margin-top: 124px;
}

/* flexboxを勝手に折り返して欲しい時の対処法 */
.items-list{
    margin-top: 72px;
    display: flex;
    flex-wrap: wrap;
}

/* flex-wrap: wrap;で１行目と２行目の間に
変な隙間ができた時の対処法 */
.items-photo{
    display: block;
    transition: opacity .3s ease-in;
}

/* ホバーで画像を半透明にしたい時（画像にかける） */
.items-photo:hover{
    opacity: 0.8;
}

@media(max-width:768px){
    .items{
        margin-top: 98px;
    }
    .items-list{
        width: 100%;
        margin: 0;
        padding: 40px 12px 0 12px;
    }
    .items-photo{
        width: 117px;
        /* width:33% */
    }
}

/* コピーライト */
.copyright{
    padding: 460px 0 56px 0;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 600;
}

@media(max-width:768px){
    .copyright{
        padding: 81px 0 157px 0;
        font-size: 12.8px;
    }
}